* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  & .header {
    font-family: monospace;
    background: #fa5252;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;

    & .logo {
      font-size: 48px;
      font-weight: 900;
      color: #82c91e;
      background: white;
      padding: 4px 32px;
      @media (max-width: 800px) {
        font-size: 30px;
        padding: 2px 10px;
      }
    }

    & ul {
      list-style-type: none;
      display: flex;
      gap: 3rem;
      @media (max-width: 800px) {
        gap: 1rem;
      }
      & a {
        font-size: 22px;
        background: white;
        padding: 8px 30px;
        text-decoration: none;
        @media (max-width: 800px) {
          padding: 2px 10px;
          font-size: 14px;
        }
      }
    }
  }
}
