#memoryContainer {
  background: linear-gradient(#e62723, #67c5e1);
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  text-align: center;
  padding: 2em;
}

.memory-game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.containerEnd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 2rem;
}
.memory-card {
  width: 200px;
  height: 230px;

  position: relative;

  transform-style: preserve-3d;
  transition: transform 0.5s;

  border: none;
  &:hover {
    transform: scale(0.95);
  }
  @media (max-width: 900px) {
    width: 150px;
    height: 180px;
  }
  @media (max-width: 500px) {
    width: 100px;
    height: 130px;
  }
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.memory-card.flipOk {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  padding: 1em;
  width: 200px;
  height: 230px;
  position: absolute;
  background-color: transparent;
  backface-visibility: hidden;
  @media (max-width: 900px) {
    width: 150px;
    height: 180px;
  }
  @media (max-width: 500px) {
    width: 100px;
    height: 130px;
  }
}

.front-face {
  transform: rotateY(180deg);
  background-color: transparent;
  border-radius: 5px;
  object-fit: contain;
  place-items: center;
}
.back-face {
  object-fit: contain;
}
