#galleryPokemon {
  background: linear-gradient(#e6262355, #67c4e180);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

#containerFilter {
  background: linear-gradient(#e6262355, #67c4e180);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #pokemon {
    min-height: 70vh;
    padding-bottom: 10vh;
  }
}

#inputPokemon {
  background-color: #eef0f2;
  margin-top: 1em;
  width: 300px;
  height: 2rem;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #41c19e;
  &:focus-visible {
    outline-style: none;
  }
}

#spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

#paginacion {
  background: linear-gradient(#67c4e180, #e6262355);
  padding: 1.5em 0em;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.7rem;

  & button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    transition: 0.4s;
    @media (max-width: 750px) {
      width: 15px;
      height: 15px;
    }
    @media (max-width: 450px) {
      width: 8px;
      height: 8px;
    }
  }
}
