@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

@font-face {
  font-family: "Bergdool";
  src: local("Bergdool"),
    url("./assets/fonts/bergdool/Bergdool.ttf") format("truetype");
}

p {
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: "Bergdool";
}
