* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

& body {
  min-height: 80vh;
  padding: 8vw;
  width: 100vw;

  & #project__images {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem;

    & img {
      width: 250px;
      height: 300px;
    }
  }
}
