#quizContainer {
  background-image: url("https://res.cloudinary.com/dluwybogp/image/upload/v1690331631/pokeball-pokemon-minimal_dnrfqt.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100vw;
  display: flex;
  padding-left: 60px;
  justify-content: start;
  align-items: center;
  min-height: 70vh;

  & #startButtonQuiz {
    height: 80%;
    letter-spacing: 8px;
    width: 400px;
    height: 80px;
    margin-top: 40px;
    margin-left: 100px;
    border-radius: 18px;
    -webkit-box-shadow: 47px 56px 180px 58px rgba(54, 53, 55, 0.48);
    -moz-box-shadow: 47px 56px 180px 58px rgba(54, 53, 55, 0.48);
    box-shadow: 47px 56px 180px 58px rgba(54, 53, 55, 0.48);
    &:active {
      background-color: #68656b;
    }
  }

  & #quizActive {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    text-align: center;
    & #question {
      text-transform: uppercase;
      letter-spacing: 4px;
      color: aliceblue;
      & .questionImage {
        width: 400px;
        height: 400px;
        animation: rebota 1.5s alternate infinite ease-in-out;
        margin-bottom: 5em;
      }
    }
    & ul {
      list-style: none;
      background-color: #eef0f2b5;
      width: 36em;
      display: flex;
      background-color: transparent;
      gap: 3em;

      & button {
        text-transform: capitalize;
        background-color: #eef0f2b5;
        width: 12em;
        height: 5em;
        border-radius: 10px;
        border: none;
        transition: 0.1s;
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
  & #nextQuestion {
    margin-left: 13.8em;
    margin-top: 2em;
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }
}

@keyframes rebota {
  100% {
    transform: translateY(12px);
  }
}
